@page "/"

<PageTitle>Index</PageTitle>

<h1>Virtual Scroll + Filterable = BOOM?</h1>
<h5>Package version: @(typeof(Table<>).Assembly.FullName)</h5>
<i><s> How to correct deal with OnQueryAsync? </s></i>

@code
{
    private IReadOnlyCollection<DataItem>? _items;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _items = Enumerable.Range(0, 500).Select(p => new DataItem { Text = $"#{p}", Num = p }).ToArray();
    }

    class DataItem
    {
        public string? Text { get; set; }
        public int Num { get; set; }
    }

    private Task<QueryData<DataItem>> DoQuery(QueryPageOptions options)
    {
        var items = _items!.Where(options.Filters.GetFilterFunc<DataItem>());
        var data = items.Skip(options.StartIndex).Take(options.PageItems);
        var ret = new QueryData<DataItem>
        {
            Items = data,
            TotalCount = items.Count(),
            IsFiltered = options.Filters.Any()
        };
        return Task.FromResult(ret);
    }
}

<div style="height: 500px">
    <Table TItem="DataItem" OnQueryAsync="DoQuery"
           ShowLineNo LineNoText="#"
           ScrollMode="ScrollMode.Virtual"
           IsBordered IsFixedHeader>
        <TableColumns>
            <TableColumn Text="Text" @bind-Field="@context.Text" Filterable></TableColumn>
            <TableColumn Text="Num" @bind-Field="@context.Num" Filterable></TableColumn>
         </TableColumns>
     </Table>
 </div>

